<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rioran - {% block title %}{% endblock %}</title>
    <meta name="description" content="A simple Lists service for a private use.">
    <meta name="author" content="Roman 'Rioran' Voronov">

    <meta property="og:title" content="Lists service">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.rioran.fun/">
    <meta property="og:description" content="A simple Lists service clock for a private use.">
    <meta property="og:image" content="images/og_image.png">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!--
    <link rel="icon" href="images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <link rel="stylesheet" href="css/styles.css?v=3.0">
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=2.0">

  </head>
  <body>
    <nav>
      <h1>{% block header %}{% endblock %}</h1>
      <ul>
        {% if g.user %}
          <li>Logged as: <span>{{ g.user.name }}</span>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a>
          <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>