<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lists service</title>
    <meta name="description" content="A simple Lists service for a private use.">
    <meta name="author" content="Roman 'Rioran' Voronov">

    <meta property="og:title" content="Lists service">
    <meta property="og:type" content="website">
    <!-- <meta property="og:url" content="https://rioran.github.io/rioran-clock/main"> -->
    <meta property="og:description" content="A simple Lists service clock for a private use.">
    <meta property="og:image" content="images/og_image.png">
    <!--
    <link rel="icon" href="images/favicon.ico">
    <link rel="icon" href="images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <link rel="stylesheet" href="css/styles.css?v=3.0">
    -->

  </head>
  <body>
    <div>
      <h1>This is a template page.</h1>
      {% for item in items %}
        <p>{{ item.text }} => {{ item.amount }}</p>
      {% endfor %}
      <form action="" method="POST">
        <div>
          <label>Username</label>
          <input type="text" name="text" placeholder="Your text goes here...">
        </div>
        <div>
          <label>How much?</label>
          <input type="number" namge="amount" placeholder=0>
        </div>
        <button type="submit">Add item</button>
      </form>
    </div>
  </body>
</html>