html {
  font-family: Verdana, sans-serif;
  background-color: black;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background-color: aquamarine;
}

h1 {
  font-family: Verdana, sans-serif;
  color: #E9FFF8;
  margin: 1rem 0;
}

a { color: #E9FFF8; }

hr { border: none; border-top: 1px solid lightgray; }

nav {
  background: #162A24;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin: 0.75rem
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }

#form {
    background-color: #FFF;
    height: 600px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;
}
label {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    margin-right:15px;
    float:left;
}

input {
    height: 20px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 10px;
}

.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

